
Szanowny/a {{SENDER_NAME}},

Dziękujemy za wiadomość dotyczącą: "{{SUBJECT}}".

Zauważyliśmy, że Twoja sprawa jest krytycznie pilna. Przekazaliśmy ją do natychmiastowego rozpatrzenia przez nasz zespół.

Skontaktujemy się z Tobą najszybciej jak to możliwe.

Z poważaniem,
Zespół Obsługi Klienta
